html {
  font-size: 62.5%;
  /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

* {
  font-size: 15px;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}



.products {
  display: flex;
  flex-wrap: wrap;
  /*if there is no space in a row, new items will be pushed down to the new line */
  justify-content: center;
}

.rating span {
  color: #f0c040;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.img-large {
  width: 100%;
}


.icon {
  color: #f0c040;
  margin: 20px -10px 15px 0px;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

.min-30 {
  min-width: 30rem;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid #f0c040;
  color: #f0c040;
}

.small-container {
  max-width: 600px;

}


/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}

.table button {
  margin: 0 0.2rem;
}

/* Common */
h1 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

Button.primary {

  background-color: #f0c040;
  border-color: transparent;
  font-size: 1.2rem;
  color: black
}



footer {
  grid-area: footer;
  background-color: black;
  color: #ffffff;
  padding: 0.3rem;
}


/* sidebar */


.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}